* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #38effc;
    --secondary-color: #0d354b;
    --tertiary-color: #172a2c;
}

body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px 5px 35px;
    background-color: var(--tertiary-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index:9999;
}

header h1 {
    font-weight: normal;
    font-size: 40px;
    color: var(--primary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--tertiary-color);
    background-color: var(--tertiary-color)
    
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-decoration: underline;
    color: var(--primary-color);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* END HEADER */

/* FOOTER */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--tertiary-color);
    width: 100%;
    padding: 20px 15px;
}


footer div {
    line-height: 1.5;
    text-align: right;
    color: var(--primary-color);
}


/* END FOOTER */


.initialSection {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../images/initialSectionBackground.png");
    padding: 60px;
} 


.initialSectionText {
    text-decoration: none;
    color: var(--tertiary-color);
    text-align: right;
}


.checkbox-wrapper label, .radio-wrapper label {
    position: relative;
    left: 10px;
    margin: 10px;
    line-height: 1.6;
}

.checkbox-wrapper input, .radio-wrapper input {
    opacity: 0;
}

.checkbox-wrapper label::before, .radio-wrapper label::before {
    content: "";
    height: 20px;
    width: 20px;
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid var(--secondary-color);
    position: absolute;
    top: -4px;
    left: -30px;
}

.radio-wrapper label::before {
    border-radius: 50%;
}

.radio-wrapper label::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--secondary-color);
    position: absolute;
    left: -29px;
    top: -3px;
    background-image: radial-gradient(circle, var(--tertiary-color), var(--secondary-color));
}

.checkbox-wrapper label::after {
    content: "";
    height: 6px;
    width: 14px;
    border-left: 2px solid var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    position:absolute;
    left: -26px;
    top: 1px;
    transform: rotate(-58deg);
}

.checkbox-wrapper input + label::after, .radio-wrapper input + label::after {
    content: none;
}

.checkbox-wrapper input:checked + label::after, .radio-wrapper input:checked + label::after {
    content: "";
}





.step {
    margin: 50px auto;
    padding-bottom: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--tertiary-color);
    font-size: 18px;
}


.step h3 {
    color: var(--secondary-color);
    font-size: 46px;
    flex: 1 10%;
    text-align: right;
    padding-right: 2%;

}

.step-text p {
    color: var(--tertiary-color);
    font-size: 18px;
    padding-left: 3%;
    text-align: left;
}

.contactMeButtons {
    color: var(--tertiary-color);
    font-size: 25px;
    padding-left: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contactMeButtons a {
    text-decoration: underline;
    padding: 10px 15px;

}

section nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}


.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: var(--secondary-color);
    padding-left: 3%;
    text-decoration: underline;
}

.step-info {
    flex: 2 70%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    border-left: 2px solid var(--tertiary-color);
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-img img {
    max-width: 50%;
}

.step-text {
    flex: 12;
}

.flex-row {
    display: flex;
}



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
   header {
       padding-bottom: 0;
       justify-content: center;
       position: relative;
   }

   header h1 {
       width: 100%;
       text-align: center;
   }

   header nav ul {
       margin-top: 20px;
       width: 100%;
       justify-content: center;
   }

   header nav ul li a {
       font-size: 20px;
   }

   footer h2, footer div {
       text-align: center;
       width: 100%;
   }


   .section-title {
       width: 80%;
   }

   .trainer {
       flex: 0 70%;
   }

   .contact-info iframe {
       flex: 1 100%;
   }
}

/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

    .step h3 {
        flex: 1 100%;
        text-align: center;
    }

    .step-info {
        flex: 2 100%;
        text-align: center;
        justify-content: center;
    }

    .step-img {
        flex: 0 32%;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .step-text {
        flex: 100%;
    }
}


/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575) {

    .section-title {
        width: 95%;
    }

    .intro p {
        width: 100%;
    }

    .trainer {
        flex: 0 100%;
    }

    .contact-info {
        text-align: center;
    }

    .contact-info > * {
        flex: 0 100%;
    }

    .contact-form {
        order: 3;
    }
}